<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Facilities where you can stay with your horse from a couple hours to overnight.">
    <meta name="keywords" content="html, forms">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Horsin' Around / Facility Details</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <img src="{{ url_for('static', filename='vector-cartoon.png') }}" alt="horse cartoon" width="85">
                <a class="navbar-brand" href="/">Horsin' Around</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/facilities/all">Return to all facilities</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="bg-body-secondary p-1 mb-3">
        <div class="container d-flex justify-content-between alight-items-center">
            <p class="mb-0">{{ user.email }}</p>
            <p class="mb-0">
                <a href="/users/logout">Logout</a>
            </p>
        </div>
    </div>
    <div class="container">
        <h1 class="mt-5 mb-5 fst-italic">{{ facility.facility_name}}</h1>
        <h2 class=" mb-4">Recommended by {{ facility.user.first_name }} {{ facility.user.last_name }}</h2>
            <div class="card mb-3" style="max-width: 1200px;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body fs-5">
                            <div class="mb-3">
                                <p>Contact : {{ facility.contact }}</p>
                            </div>
                            <div class="mb-3">
                                <p>Phone number : {{ facility.phone_number }}</p>
                            </div>
                            <div class="mb-3">
                                <p>Location : {{ facility.location }}</p>
                            </div>
                            <div class="mb-3">
                                <p>Less than 5 miles from I-70 : {{ 'Yes' if facility.distance_from_I70 else 'No' }}</p>
                            </div>
                            <div class="mb-3">
                                <p>Provided amenities : {{ facility.amenities }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='Vector2.png') }}" class="img-fluid rounded-start" alt="horse cartoon">                       
                    </div>
                </div>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>